[Unit]
Description=Watcher for packages telegram bot
Wants=packages_bot.timer

[Service]
Type=simple
ExecStart=/usr/bin/packages_bot.py

[Install]
WantedBy=default.target
